{% extends 'base.html' %}
{% block title %}Metodos de Pago{% endblock %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
<h2>Metodos de Pago</h2>
    <a href="{% url 'suscripciones:moneda_create' %}" class="btn btn-primary">+ Añadir Moneda</a>
</div>
<div class="card">
    <div class="card-body">
        <table class="table table-hover">
            <thead class="table-light">
    <tr>
        <th>Codigo ISO</th>
        <th>Simbolo</th>
        <th>Decimales</th>
    </tr>
    {% for obj in monedas %}
    <tr>
        <td>{{ obj.codigo }}</td>
        <td>{{ obj.simbolo }}</td>
        <td>{{ obj.decimales }}</td>
        <td>
            {% if obj.pk %}  
            <a href="{% url 'suscripciones:moneda_update' obj.pk %}" class="btn btn-sm btn-warning">Editar</a>
            <a href="{% url 'suscripciones:moneda_delete' obj.pk %}" class="btn btn-sm btn-danger">Eliminar</a>
           {% else %}
                <span>No disponible</span>
            {% endif %}
        </td>
    </tr>
                {% empty %}
    <tr><td colspan="5">No hay Monedas Registradas.</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}