{% extends 'base.html' %}
{% block title %}Planes{% endblock %}
{% block content %}
<h2>Planes</h2>
<div style="text-align: right; margin: 10px 0;">
    <a href="{% url 'suscripciones:plan_create' %}" class="btn-add">+ Añadir Planes</a>
</div>
<table>
    <tr>
        <th>Proveedor  </th>
        <th>Nombre del Plan      </th>
        <th>Duración (días)  </th>
        <th>Precio  </th>
        <th>Moneda     </th>
        <th>Descripción   </th>
    </tr>
    {% for obj in planes %}
    <tr>
        <td>{{ obj.proveedor }}</td>
        <td>{{ obj.nombre }}</td>
        <td>{{ obj.duracion_dias }}</td>
        <td>{{ obj.precio }}</td>
        <td>{{ obj.moneda }}</td>
        <td>{{ obj.descripcion }}</td>
        <td>
            <a href="{% url 'suscripciones:plan_update' obj.pk %}" class="btn-edit">Editar</a>
            <a href="{% url 'suscripciones:plan_delete' obj.pk %}" class="btn-delete">Eliminar</a>
        </td>
    </tr>
    {% empty %}
    <tr><td colspan="5">No hay proveedores.</td></tr>
    {% endfor %}
</table>
{% endblock %}